/* Common styles */
.txt-1 {
  position: relative;
  top: 5px;
  left: 20px;
  font-size: 10vh;
}

.txt-2 {
  position: relative;
  width: 55%;
  top: px;
  left: 20px;
  font-size: 3vh;
}

.video-1 {
  border-radius: 20px;
  position: absolute;
  left: 60%;
  top: 20%;
}

.features-table {
  position: absolute;
  width: 30%;
  height: 30%;
  border-collapse: collapse;
  margin-top: 20px;
  top: 60%;
  left: 2%;
}

.features-table th,
.features-table td {
  border: 1px double white;
  width: 10px;
  padding: 10px;
  text-align: left;
}

.scrollable-section {
  margin: 0;
  position: relative;
  align-items: center;
  background-image: url(static/img/Lovepik_com-400116130-science-and-technology-background-of-artificial-intelligence.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5px;
  height: 100vh;
  color: white;
}

.bgimg2::after {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 0;
}

/* Responsive styles */
@media only screen and (max-width: 360px) {
  .txt-1 {
      font-size: 7vw;
  }

  .txt-2 {
      font-size: 3vw;
      width: 90%;
  }

  .video-1 {
      top: 35%;
      left: 8%;
  }

  video {
      height: 10%;
      width: 90%;
  }

  .features-table {
      top: 60%;
      left: 5%;
  }

  .scroll-down-button {
     
      visibility: hidden;
  }

  .button {
      background: linear-gradient(to right, #9C27B0, #E040FB);
      border-radius: 20px;
      outline: none;
      border: none;
      display: inline-block;
      padding: 8px;
      color: white;
      text-align: center;
      cursor: pointer;
      width: 70%;
      margin-left: 15%;
  }

  .button:hover {
      background-color: #555;
  }

  .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
  }

  img {
      height: auto;
      width: 100%;
      border-radius: 15px;
  }
}
